.donnut-chart-container {
margin: 5px;
width: 400px;
height: 300px;
overflow: hidden;
}
.donnut-chart-content {
position: relative;
margin-left: -110px;
margin-top: -45px;
}

.donnut-chart {
width: 600px !important;
height: 400px !important;
}

.sankey-chart-container {
margin: 5px;
width: 810px;
height: 600px;
overflow: hidden;
}

.sankey-chart-content {
position: relative;
margin-left: 80px;
}

.sankey-chart {
width: 1000px !important;
height: 585px !important;
}

.overlay {
display:block;
width:100px;
height:70px;
text-align:center;
vertical-align: middle;
position: absolute;
top: 0px;  /* chartArea top  */
left: 0px; /* chartArea left */
font: normal 20px Arial, sans-serif;
margin-top: 165px;
margin-left: 180px;
}

.lang-tag {
    margin-left: 5px; 
}