.main-content {
    margin-top: 20px;
}

.donnut-chart-container {
margin: 5px;
width: 400px;
height: 300px;
overflow: hidden;
}
.donnut-chart-content {
position: relative;
margin-left: -110px;
margin-top: -45px;
}

.donnut-chart {
width: 600px !important;
height: 400px !important;
}

.sankey-chart-container {
margin: 5px;
width: 810px;
height: 600px;
overflow: hidden;
}

.sankey-chart-content {
position: relative;
margin-left: 80px;
}

.sankey-chart {
width: 1000px !important;
height: 585px !important;
}

.overlay {
display:block;
width:100px;
height:70px;
text-align:center;
vertical-align: middle;
position: absolute;
top: 0px;  /* chartArea top  */
left: 0px; /* chartArea left */
font: normal 20px Arial, sans-serif;
margin-top: 165px;
margin-left: 180px;
}

.lang-tag {
    margin-left: 5px; 
}

@media only screen and (max-width: 500px) {
    .donnut-chart-container {
        width: auto;
        height: 300px;
    }
    .donnut-chart-content {
        margin-left: -85px;
        margin-top: -50px;
    }

    .donnut-chart {
        width: 450px !important;
        height: 400px !important;
    }
    .overlay {
        width: 70px;
        height: 60px;
        font: normal 15px Arial, sans-serif;
        margin-top: 175px;
        margin-left: 135px;
    }

    .sankey-chart-container {
        width: auto;
        height: 300px;
        overflow-x: scroll;
    }

        .sankey-chart-content {
        position: relative;
        margin-left: -5px;
    }

        .sankey-chart {
        width: 500px !important;
        height: 270px !important;
    }
}